<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>MeuApp MeuNegócio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonte moderna -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/landingPage.css">
</head>
<body>

<header>
    <div class="logo">Meu App, Meu Negócio</div>

    <!-- Ícone hambúrguer -->
    <div class="hamburger" onclick="toggleMenu()">&#9776;</div>

    <nav id="nav-menu">
        <a href="/">Home</a>
        <a href="#sobre">Sobre</a>
        <a href="/inscricao">Inscrever-se</a>
    </nav>
</header>

<section id="home">
    <div class="intro">

        <h1 class="titulo">Curso de criação de Apps para Microempreendedores</h1>
        <p class="subtitulo">
            Simples, prático e sem precisar saber programar.<br>
            Aprenda a inovar com o MIT App Inventor.
        </p>
        <a href="/inscricao" class="botao-inscrever">Inscreva-se agora</a>
    </div>
    <div class="imagem-inicial">
        <img src="/img/empreendedorismo.png" alt="Imagem ilustrativa empreendedorismo">
    </div>
</section>

<section id="sobre">
    <h2>Sobre o Curso</h2>
    <p>
        O curso está sendo ofertado a partir do projeto de extensão com alunos do curso de Engenharia de Software
        e Engenharia de Produção com o intuito de ajudar os microempreendedores a gerenciar seus negócios com mais praticidade e inovação.<br>
        Será utilizado o MIT app invertor, plataforma gratuita para o desenvolvimento.
    </p>
    <br>
    <h2>Incrições até o dia 29/08/2025.</h2>
    <p>
        Os encontros serão realizados no laboratorio do campus da UEPA de Castanhal. <br>
        Curso inicia no dia 30/08/2025.
    </p>
</section>

<footer>
    <div class="container_rodape">
        <div class="logo_uepa">
            <img src="/img/logo_uepa.png" alt="Logo da UEPA">
        </div>

        <div class="informacoes">
            <p>
                Universidade do Estado do Pará - Campus XX <br>
                R. Pedro Porpino da Silva, 1181 - São José, Castanhal - PA, 68745-000
            </p>
        </div>
    </div>

    <hr>

    <div class="copy">
        <p>&copy; 2025 - Todos os direitos reservados | Desenvolvido por alunos da UEPA</p>
    </div>
</footer>

<script>
    function toggleMenu() {
        const menu = document.getElementById("nav-menu");
        menu.classList.toggle("ativo");
    }
</script>

</body>
</html>