<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>MeuApp MeuNegócio</title>
    <link rel="stylesheet" href="/css/landingPage.css">
</head>
<body>
<!-- Navbar -->
<header>
    <div class="logo">Meu App, Meu Negócio</div>
    <nav>
        <a href="/">Home</a>
        <a href="#sobre">Sobre </a>
        <a href="/inscricao">Inscrever-se</a>
    </nav>
</header>

<!-- Seção inicial -->
<section id="home">
    <div class="intro">
        <h1 class="titulo">Curso de criação de Apps para Microempreendedores</h1>
        <p class="subtitulo">
            Simples, prático e sem precisar saber programar.<br>
            Aprenda a inovar com o MIT App Inventor.
        </p>

        <a href="/inscricao" class="botao-inscrever">Inscreva-se agora</a>
    </div>
    <div class="imagem-inicial">
        <img src="/img/empreendedorismo.png" alt="Imagem ilustrativa empreendedorismo">
    </div>
</section>

<!-- Seção sobre -->
<section id="sobre">
    <h2>Sobre o Curso</h2>
    <p>O curso está sendo ofertado apartir do projeto de extensão com alunos do curso de engenharia de software e engenharia de produção com o intuito de ajudar os microenpreendedores a gerenciar seus negocios com mais praticidade e inovação.</p>
    <!--div class="imagens">
        <img src="/img/exemplo1.jpg" alt="Exemplo 1">
        <img src="/img/exemplo2.jpg" alt="Exemplo 2">
    </div-->
</section>

</body>
</html>
